{% extends 'base/base.html' %}
{% load static %}

  {% block title %}About{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 offset-3">

        <p class="mt-3">Nulla pretium eros ligula, viverra faucibus sapien dapibus et. Sed pulvinar enim vel
        neque commodo dictum. Suspendisse sollicitudin elementum efficitur. Donec congue nunc nisi,
        tristique faucibus odio commodo a. Suspendisse eget urna sodales, aliquam diam et, molestie lorem.
        Suspendisse at libero sit amet tortor porta vulputate. </p>
        <p>Suspendisse pharetra a enim non blandit.
        Cras faucibus dictum mauris, et ultrices ipsum feugiat quis. Proin porttitor euismod lorem eu
        dictum. Ut eu feugiat turpis. Etiam porta turpis dolor, sed pharetra magna efficitur sit amet.
        Vivamus cursus justo ante, maximus suscipit mi tempor ut. Integer in vestibulum purus.</p>
    </div>
</div>
{% endblock %}